<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header>
        <h1>St Clement's Lakes</h1>
        <h2>Neighbourhood Watch</h2>
      </header>
      <div [ngClass]="{
      'hideElement': !showReportForm,
      'showElement': showReportForm
      }"
      >
        <label>Describe your report</label>
        <br>
        <textarea id="reportMessage" type="text" [formControl]="reportMessage" class="form-control"></textarea>
        <br>
        <div [ngClass]="{
        'hideElement': !showReportMessageValidationErrorMessage,
        'alert alert-danger showElement': showReportMessageValidationErrorMessage
        }">
          <i class="fa fa-exclamation-circle"></i> Please fill in a report
        </div>
        <label>Pin</label>
        <br>
        <input id="pin" type="text" [formControl]="pin" class="form-control"/>
        <br>
        <div [ngClass]="{
        'hideElement': !showPinValidationErrorMessage,
        'alert alert-danger showElement': showPinValidationErrorMessage
        }">
          <i class="fa fa-exclamation-circle"></i> Please fill the correct pin
        </div>
        <br>
        <button class="btn btn-primary" (click)="submitReport()">
          <i class="fa fa-bell"></i>
          Alert Neighbours
        </button>
      </div>
      <div [ngClass]="{
      'hideElement': !showSuccessMessage,
      'alert alert-success showElement': showSuccessMessage
      }">
        <p>I have alerted your neighbours for you. Stay safe. <i class="fa fa-thumbs-up"></i></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
